{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">User area</div>
                    <div class="panel-body">
                        {% if app.user != null %}
                            <div class="alert alert-success">
                                Congratulations, you are logged in!
                            </div>
                        {% else %}
                            <a href="{{ path('login') }}" class="btn btn-danger"> You need to login to see this page >></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
